.pin {
  color: white;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
/* left column */
.col-one {
  /* height: 100%; */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pin-title {
  margin: 0px 0px;
  width: 80%;
  font-size: 175px;
}
.pin-msg {
  margin: 0px 0px;

  width: 80%;
  font-size: 56px;
}
/* right column */
.pin-container {
}
.key-pad {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
}
.key {
  background: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 85px;
  border: none;
}
