.pin {
  color: white;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
/* left column */
.col-one {
  /* height: 100%; */
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.pin-title {
  margin: 0px 0px;
  width: 80%;
  font-size: 175px;
}
.pin-msg {
  margin: 0px 0px;
  width: 80%;
  font-size: 56px;
}
/* right column */
.pin-container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.show-pin {
  /* width: 90%; */
  width: 701px;
  height: 147px;
  background: #6b5293;
  color: #b6be00;
  border-radius: 20px;
  font-size: 250px;
  text-align: center;
}
.key-pad {
  /* width: 90%; */
  width: 701px;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-content: center;
}
.k-2,
.k-5,
.k-8,
.k-0 {
  border-style: solid;
  border-color: #b6be00;
  border-width: 0px 5px;
  border-bottom: solid 5px #b6be00;
}
.k-2::after,
.k-5::after,
.k-8::after,
.k-0::after {
}
.k-0 {
  border-bottom: none;
}
.k-1,
.k-4,
.k-7 {
  border-bottom: solid 5px #b6be00;
  border-left: none;
}
.k- {
  border-left: none;
  border-bottom: none;
}
.k-3,
.k-6,
.k-9 {
  border-bottom: solid 5px #b6be00;
  border-right: none;
}
.k-Clear {
  border-bottom: none;
  border-right: none;
}
.key {
  border-top: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 85px;
}

.enter {
  /* width: 90%; */
  width: 701px;
  height: 147px;
  background: #b6be00;
  color: #422769;
  font-weight: 600;
  border-radius: 20px;
}
