.dash {
  height: 100%;
  width: 100%;
  font-size: 78px;
  color: white;
  display: grid;
  grid-template-columns: 27% 73%;
  /* grid-template-columns: 552px 1496px; */
  /* grid-template-columns: 30% 70%; */
}
.account-info {
  font-size: 30px;
  background: white;
  color: black;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.icon {
  height: 246px;
  width: 246px;
  border-radius: 100%;
  background: #b6be00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.account {
  height: 229px;
  background: #6b5293;
}
